@using Microsoft.AspNetCore.Identity
@using AMAN.Areas.Identity.Data

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
    <div class="card" style="width: 250px;">
        <img src="~/Images/Aiodos.jpg" class="card-img-top" alt="Airdos">
        <div class="card-body">
            <h5 class="card-title">boAt Airdopes 181 Pro</h5>
            <p class="card-text">
                Better battery / performance.|	Bluetooth 5.3.|	Playtime: Up to 40 hours (with case).|Latency: ~40 ms “Rage Mode” (gaming) for lower lag.|Water resistance: Yes <br /><strong>Price: ~₹999 on Crossword.</strong>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/redmiNote13.jpg" class="card-img-top" alt="Redmi">
        <div class="card-body">
            <h5 class="card-title">Redmi Note 13pro</h5>
            <p class="card-text">Redmi Note 13 Pro (Midnight Black, 8GB RAM, 256GB Storage) | 1.5K AMOLED | 200MP Hi-Res Camera | Flagship 4nm SD 7s Gen 2 | 67W TurboCharge<br /><strong>Price: ~₹29000 on Crossword.</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/m06 5g.jpg" class="card-img-top" alt="Sumsung">
        <div class="card-body">
            <h5 class="card-title">Sumsung M06 5g</h5>
            <p class="card-text">
                MediaTek Dimensity 6300.| Octa-core (2.4 GHz + 2.0 GHz) | 4 GB RAM / 64 or 128 GB; also 6 GB / 128 GB.|Storage Expandable: microSD (up to 1 TB).<br /><strong>Price: ~₹29899 on Crossword.</strong>
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/SanDisk_1TB.jpg" class="card-img-top" alt="Redmi">
        <div class="card-body">
            <h5 class="card-title">SanDisk Extreme 1TB </h5>
            <p class="card-text">Rated A2, U3, V30. According to PCWorld, real-world ~160 MB/s read, ~90 MB/s write.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/usb hub.jpg" class="card-img-top" alt="perfume">
        <div class="card-body">
            <h5 class="card-title">Portronics Mport 7 Hub</h5>
            <p class="card-text"> Slightly larger with 7 ports useful when you have many USB devices</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/perfume.jpg" class="card-img-top" alt="perfume">
        <div class="card-body">
            <h5 class="card-title">Glory Musk by Arabesque Perfumes</h5>
            <p class="card-text">A unisex oriental floral scent. Notes: Turkish rose, ylang-ylang, white flowers, vanilla, patchouli <br /><strong>Price: ~₹8999 on Crossword.</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    

    
    <div class="card" style="width: 250px;">
        <img src="~/Images/winnter.jpg" class="card-img-top" alt="Airdos">
        <div class="card-body">
            <h5 class="card-title">Winnter</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/trimmer.jpg" class="card-img-top" alt="Riches">
        <div class="card-body">
            <h5 class="card-title"> Trimmer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>


    <div class="card" style="width: 250px;">
        <img src="~/Images/Riches.jpg" class="card-img-top" alt="Riches">
        <div class="card-body">
            <h5 class="card-title">Countdown to Riches</h5>
            <p class="card-text">This book offers a 21-day plan to cultivate habits that attract wealth. Good for mindset and daily practical change.<br /><strong>Price: ~₹899 on Crossword.</strong></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 250px;">
        <img src="~/Images/phychology.jpg" class="card-img-top" alt="Sumsung">
        <div class="card-body">
            <h5 class="card-title">Phychology</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>


